.square{
    width : 50px;
    display: inline-block;
    height : 50px;
    vertical-align: bottom;
    position: absolute;
    background-size:contain;
}

.dirt{
background-image: url('../imgs/dirt.png');
}

.sky{
    background-color:  #7FFFD4;
}

.grass{
    background-image: url('../imgs/grass.png');
}

.tree{
    background-image: url('../imgs/tree.png');
}

.leaf{
    background-image: url('../imgs/leaf.png');
}

.rock{
    background-image: url('../imgs/rock.png');
    z-index: 10;
}