.mainDiv {
    width: 1000px;
    height: 600px;
    z-index: 9;
    border: 2px solid;
    margin-left: 20px;
    margin-top: 20px;
    vertical-align: bottom;
    display: inline-block;
}

div {
    color: white;
}

body {
    cursor: url("../imgs/cursor/axe.png"), pointer;
    overflow: hidden;    
}

.sideBar {
    width: 200px;
    height: 600px;
    display: inline-block;
    vertical-align: top;
    border: 1px solid black;
    margin-left: 20px;
    margin-top: 20px;
    background-color: black;

}

.inventory{
    border: 1px solid white;
    width: 50px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
}

.inventory.selected{
    border: 1px solid red;
    background-color: black;
}


.inventory:hover {
    border: 1px solid red;
}

.toolAxe {
    background-image: url(../imgs/axe.png);
    background-size: contain;
    height: 80px;
    width: 40%;
    background-repeat: no-repeat;
    border: 1px solid white;
    display: inline-block;
    margin-right: 5px;
}

.toolShovel{
    background-image: url(../imgs/shovel.png);
    background-size: contain;
    height: 80px;
    width: 40%;
    background-repeat: no-repeat;
    border: 1px solid white; 
    display: inline-block;
}

.inv {
    background-size: contain;
    color: white;
    font-size: 16px;
}

.toolsBox > .tool:hover {
    border: 1px solid red;
    background-color: white;
}

.toolPickAxe {
    background-image: url(../imgs/pickaxe.png);
    background-size: contain;
    height: 80px;
    width: 40%;
    background-repeat: no-repeat;
    border: 1px solid white; 
    display: inline-block; 
}

.toolsBox {
    text-align: center;
    margin-top: 20px;
}

.square{
    width : 50px;
    display: inline-block;
    height : 50px;
    vertical-align: bottom;
    position: absolute;
    background-size:contain;
    transition: all 0.4s ease;
}
.square:hover{
    box-shadow: 0px 0px 0px 2px white;
}
.dirt{
    background-image: url('../imgs/dirt.png');
}

.sky{
    background-color:  #82cff6;
}

.grass{
    background-image: url('../imgs/grass.png');
}

.tree{
    background-image: url('../imgs/tree.png');
}

.leaf{
    background-image: url('../imgs/leaf.png');
    z-index: 2;
}

.rock{
    background-image: url('../imgs/rock.png');
    z-index: 1;
}

.selected {
    background-color: white;
}